<a href="https://colab.research.google.com/github/longndh1105/Covid19-Fake-News-Detection-with-PySpark/blob/main/Final_ProjectML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Download

In [ ]:
from google.colab import drive

drive.mount('/content/gdrive')
# drive._mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
!wget http://setup.johnsnowlabs.com/colab.sh -O - | bash

--2022-01-27 13:55:29--  http://setup.johnsnowlabs.com/colab.sh
Resolving setup.johnsnowlabs.com (setup.johnsnowlabs.com)... 51.158.130.125
Connecting to setup.johnsnowlabs.com (setup.johnsnowlabs.com)|51.158.130.125|:80... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://setup.johnsnowlabs.com/colab.sh [following]
--2022-01-27 13:55:30--  https://setup.johnsnowlabs.com/colab.sh
Connecting to setup.johnsnowlabs.com (setup.johnsnowlabs.com)|51.158.130.125|:443... connected.
HTTP request sent, awaiting response... 302 Moved Temporarily
Location: https://raw.githubusercontent.com/JohnSnowLabs/spark-nlp/master/scripts/colab_setup.sh [following]
--2022-01-27 13:55:31--  https://raw.githubusercontent.com/JohnSnowLabs/spark-nlp/master/scripts/colab_setup.sh
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... failed: Connection timed out.
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1453 (1.4K) [text/plain]
Saving to: ‘STDOUT’

-                   100%[===================>]   1.42K  --.-KB/s    in 0s

2022-01-27 13:57:42 (30.8 MB/s) - written to stdout [1453/1453]

setup Colab for PySpark 3.0.3 and Spark NLP 3.4.0
Installing PySpark 3.0.3 and Spark NLP 3.4.0
     |████████████████████████████████| 209.1 MB 62 kB/s
     |████████████████████████████████| 140 kB 63.6 MB/s
     |████████████████████████████████| 198 kB 66.4 MB/s
  Building wheel for pyspark (setup.py) ... done

## Data 1

In [ ]:
!mkdir data

In [ ]:
!git clone https://github.com/diptamath/covid_fake_news.git
!cp /content/covid_fake_news/data/Constraint_Test.csv -d /content/data/
!cp /content/covid_fake_news/data/Constraint_Train.csv -d /content/data/
!cp /content/covid_fake_news/data/Constraint_Val.csv -d /content/data/
!cp /content/covid_fake_news/data/english_test_with_labels.csv -d /content/data/
!rm -rf /content/covid_fake_news

Cloning into 'covid_fake_news'...
remote: Enumerating objects: 275, done.
remote: Counting objects: 100% (275/275), done.
remote: Compressing objects: 100% (182/182), done.
remote: Total 275 (delta 160), reused 167 (delta 89), pack-reused 0
Receiving objects: 100% (275/275), 4.75 MiB | 5.61 MiB/s, done.
Resolving deltas: 100% (160/160), done.

## Data 2

In [ ]:
#https://data.mendeley.com/datasets/zwfdmp5syg/1
!wget https://md-datasets-cache-zipfiles-prod.s3.eu-west-1.amazonaws.com/zwfdmp5syg-1.zip
!unzip '/content/zwfdmp5syg-1.zip' -d data
!rm '/content/zwfdmp5syg-1.zip'

--2022-01-27 13:58:25--  https://md-datasets-cache-zipfiles-prod.s3.eu-west-1.amazonaws.com/zwfdmp5syg-1.zip
Resolving md-datasets-cache-zipfiles-prod.s3.eu-west-1.amazonaws.com (md-datasets-cache-zipfiles-prod.s3.eu-west-1.amazonaws.com)... 52.218.84.83
Connecting to md-datasets-cache-zipfiles-prod.s3.eu-west-1.amazonaws.com (md-datasets-cache-zipfiles-prod.s3.eu-west-1.amazonaws.com)|52.218.84.83|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 3640768 (3.5M) [application/octet-stream]
Saving to: ‘zwfdmp5syg-1.zip’

zwfdmp5syg-1.zip    100%[===================>]   3.47M   639KB/s    in 8.9s

2022-01-27 13:58:35 (400 KB/s) - ‘zwfdmp5syg-1.zip’ saved [3640768/3640768]

Archive:  /content/zwfdmp5syg-1.zip
  inflating: data/fake_new_dataset.xlsx

## Data 3

In [ ]:
!git clone https://github.com/VinAIResearch/COVID19Tweet.git
!unzip '/content/COVID19Tweet/WNUT-2020-Task-2-Dataset.zip' -d data
!rm -rf /content/COVID19Tweet

Cloning into 'COVID19Tweet'...
remote: Enumerating objects: 44, done.
remote: Counting objects: 100% (44/44), done.
remote: Compressing objects: 100% (37/37), done.
remote: Total 44 (delta 13), reused 26 (delta 5), pack-reused 0
Unpacking objects: 100% (44/44), done.
Archive:  /content/COVID19Tweet/WNUT-2020-Task-2-Dataset.zip
   creating: data/WNUT-2020-Task-2-Dataset/
  inflating: data/WNUT-2020-Task-2-Dataset/train.tsv
  inflating: data/WNUT-2020-Task-2-Dataset/test.tsv
  inflating: data/WNUT-2020-Task-2-Dataset/unlabeled_test_with_noise.tsv
  inflating: data/WNUT-2020-Task-2-Dataset/valid.tsv

In [ ]:
! kaggle competitions download -c 'real_or_fake'

Traceback (most recent call last):
  File "/usr/local/bin/kaggle", line 5, in <module>
    from kaggle.cli import main
  File "/usr/local/lib/python2.7/dist-packages/kaggle/__init__.py", line 23, in <module>
    api.authenticate()
  File "/usr/local/lib/python2.7/dist-packages/kaggle/api/kaggle_api_extended.py", line 146, in authenticate
    self.config_file, self.config_dir))
IOError: Could not find kaggle.json. Make sure it's located in /root/.kaggle. Or use the environment method.

## Data 4

In [ ]:
!gdown --id 1RkTMY0mMWEJrzY4E-F3utpwtc1iuXtcl
!gdown --id 1xdkau8KwdU6taeR3Jf7n23kN4QQH1nHd
!gdown --id 1KJO1xEEErPpQs6ApQNChhhP5J87QMXlS

In [ ]:
!mv /content/train.csv /content/data
!mv /content/test.csv /content/data
!mv /content/submit.csv /content/data

## Data 5

In [ ]:
!gdown --id 1j5FBscldaLmbUo_y4FyqnpfA64V6DfCP
!gdown --id 1guPX_2yy9CZ-kBJ_O5oJPDMyKVcwx41J

In [ ]:
!mv /content/Fake.csv /content/data
!mv /content/True.csv /content/data

## Data 6

In [ ]:
!gdown --id 1Uu2oCCusHUKA-Oa8kug2GqU4F22eevP0

In [ ]:
!mv /content/fake_or_real_news.csv /content/data

## Data

In [ ]:
!wget -q https://raw.githubusercontent.com/mahavivo/vocabulary/master/lemmas/AntBNC_lemmas_ver_001.txt

In [ ]:
# !wget https://nlp.stanford.edu/data/glove.840B.300d.zip
# !unzip '/content/glove.840B.300d.zip' -d data
# !rm '/content/glove.840B.300d.zip'

In [ ]:
!gdown --id 1Qo7oTBtcc7McqK8dwC0aEyAAl4S0ju1B
!mv /content/glove.840B.300d.txt /content/data

Downloading...
From: https://drive.google.com/uc?id=1Qo7oTBtcc7McqK8dwC0aEyAAl4S0ju1B
To: /content/glove.840B.300d.txt
100% 5.65G/5.65G [01:47<00:00, 52.7MB/s]

# Final

## Step 1

In [ ]:
import json
# import sparknlp
import findspark
import numpy as np
import pandas as pd
# from sparknlp.base import *
from pyspark.ml import Pipeline, PipelineModel
# from sparknlp.annotator import *
import pyspark.sql.functions as f
from pyspark.sql import SparkSession, Window
from pyspark.ml.classification import LogisticRegression
from pyspark.sql.types import DoubleType, LongType, IntegerType
from pyspark.ml.evaluation import RegressionEvaluator, MulticlassClassificationEvaluator
from pyspark.ml.feature import HashingTF, IDF, StringIndexer, SQLTransformer,IndexToString, CountVectorizer

In [ ]:
from pyspark.ml.feature import (
    StopWordsRemover,
    Tokenizer,
    HashingTF,
    IDF,
    Normalizer
)
from pyspark.ml.classification import LogisticRegression
from pyspark.ml import Pipeline

## Step 2

In [ ]:
findspark.init()
spark = SparkSession.builder.getOrCreate()

## Step 3

### Data 1

In [ ]:
trainDataset = spark.createDataFrame(pd.read_csv("/content/data/Constraint_Train.csv")).select('tweet', 'label')

valDataset = spark.createDataFrame(pd.read_csv("/content/data/Constraint_Val.csv")).select('tweet', 'label')

# testDataset = spark.createDataFrame(pd.read_csv("/content/data/Constraint_Test.csv")).select('tweet')
testDataset = spark.createDataFrame(pd.read_csv("/content/data/english_test_with_labels.csv")).select('tweet', 'label')

In [ ]:
trainDataset.printSchema()
valDataset.printSchema()
testDataset.printSchema()
print(trainDataset.count())
print(valDataset.count())
print(testDataset.count())

root
 |-- tweet: string (nullable = true)
 |-- label: string (nullable = true)

root
 |-- tweet: string (nullable = true)
 |-- label: string (nullable = true)

root
 |-- tweet: string (nullable = true)
 |-- label: string (nullable = true)

6420
2140
2140


### Data 2

In [ ]:
udf = f.udf(lambda x: 'real' if x=='1' else 'fake')

In [ ]:
trainDataset1 = spark.createDataFrame(
    pd.read_excel('/content/data/fake_new_dataset.xlsx', usecols=[2,4]), 
    schema="tweet string, label string "
)

In [ ]:
trainDataset1, valDataset1, testDataset1 = (
    trainDataset1
    .withColumn('label', udf(f.col('label')))
    # .withColumn('id', f.row_number().over(Window.orderBy('id')))
    .orderBy(f.rand())
    .randomSplit([.8, .1, .1],seed=1234)
)

In [ ]:
trainDataset1.printSchema()
valDataset1.printSchema()
testDataset1.printSchema()
print(trainDataset1.count())
print(valDataset1.count())
print(testDataset1.count())

root
 |-- tweet: string (nullable = true)
 |-- label: string (nullable = true)

root
 |-- tweet: string (nullable = true)
 |-- label: string (nullable = true)

root
 |-- tweet: string (nullable = true)
 |-- label: string (nullable = true)

2513
298
308

### Data 3

In [ ]:
udf = f.udf(lambda x: 'real' if x=='INFORMATIVE' else 'fake')

In [ ]:
trainDataset2 = spark.read.csv(
    path='/content/data/WNUT-2020-Task-2-Dataset/train.tsv',
    sep='\t',
    header=True,
    schema=" id long, tweet string, label string "
)

valDataset2 = spark.read.csv(
    path='/content/data/WNUT-2020-Task-2-Dataset/valid.tsv',
    sep='\t',
    schema=" id long, tweet string, label string "
)

testDataset2 = spark.read.csv(
    path='/content/data/WNUT-2020-Task-2-Dataset/test.tsv',
    sep='\t',
    schema=" id long, tweet string, label string "
)

# testDataset1 = spark.read.csv(
#     path='/content/data/WNUT-2020-Task-2-Dataset/unlabeled_test_with_noise.tsv',
#     sep='\t',
#     header=True,
#     schema=' id long, tweet string '
# )

In [ ]:
trainDataset2 = (
    trainDataset2
    .withColumn('label', udf(f.col('label')))
    .select('tweet', 'label')
    # .withColumn('id', f.row_number().over(Window.orderBy('id')))
)

valDataset2 = (
    valDataset2
    .withColumn('label', udf(f.col('label')))
    .select('tweet', 'label')
    # .union(
    #     valDataset2
    #     .withColumn('label', udf(f.col('label')))
    # )
    # .withColumn('id', f.row_number().over(Window.orderBy('id')))
    # .orderBy(f.rand())
    # .randomSplit([.519, .481],seed=1234)[0]
)

testDataset2 = (
    testDataset2
    .withColumn('label', udf(f.col('label')))
    .select('tweet', 'label')
    # .withColumn('id', f.row_number().over(Window.orderBy('id'))) \
    # .orderBy(f.rand()) \
    # .randomSplit([.237, .763],seed=1234)[0]
)

In [ ]:
trainDataset2.printSchema()
valDataset2.printSchema()
testDataset2.printSchema()
print(trainDataset2.count())
print(valDataset2.count())
print(testDataset2.count())

root
 |-- tweet: string (nullable = true)
 |-- label: string (nullable = true)

root
 |-- tweet: string (nullable = true)
 |-- label: string (nullable = true)

root
 |-- tweet: string (nullable = true)
 |-- label: string (nullable = true)

7000
1000
2000

### Data 4

In [ ]:
trainDataset3 = pd.read_csv('/content/data/train.csv')
valDataset3 = pd.read_csv('/content/data/test.csv')
testDataset3 = pd.read_csv('/content/data/submit.csv')

In [ ]:
trainDataset3 = spark.createDataFrame(trainDataset3, schema=" id long, title string, author string, tweet string, label long")
valDataset3 = spark.createDataFrame(valDataset3, schema=" id long, title string, author string, tweet string")
testDataset3 = spark.createDataFrame(testDataset3, schema=" id long, label long")

In [ ]:
udf = f.udf(lambda x: 'real' if x==1 else 'fake')

In [ ]:
trainDataset3 = (
    trainDataset3
    .select("tweet", "label")
    .withColumn('label', udf(f.col('label')))
)
valDataset3, testDataset3 = (
    valDataset3
    .join(testDataset3, "id", "outer")   
    .select("tweet", "label")
    .withColumn('label', udf(f.col('label')))
    .randomSplit([.5, .5],seed=1234)
)

In [ ]:
trainDataset3.printSchema()
valDataset3.printSchema()
testDataset3.printSchema()
print(trainDataset3.count())
print(valDataset3.count())
print(testDataset3.count())

root
 |-- tweet: string (nullable = true)
 |-- label: string (nullable = true)

root
 |-- tweet: string (nullable = true)
 |-- label: string (nullable = true)

root
 |-- tweet: string (nullable = true)
 |-- label: string (nullable = true)

20800
2554
2646

### Data 5

In [ ]:
trainDataset4 = pd.read_csv('/content/data/Fake.csv')
valDataset4 = pd.read_csv('/content/data/True.csv')

In [ ]:
trainDataset4 = spark.createDataFrame(trainDataset4, schema="title string, tweet string, subject string, date string")
valDataset4 = spark.createDataFrame(valDataset4, schema="title string, tweet string, subject string, date string")

In [ ]:
trainDataset4, valDataset4, testDataset4 = (
    trainDataset4
    .withColumn("label", f.lit("fake")).
    union(
        valDataset4
        .withColumn("label", f.lit("real"))
    )
    .orderBy(f.rand())
    .select(["tweet", "label"])
    .randomSplit([.8, .1, .1],seed=1234)
)

In [ ]:
trainDataset4.printSchema()
valDataset4.printSchema()
testDataset4.printSchema()
print(trainDataset4.count())
print(valDataset4.count())
print(testDataset4.count())

root
 |-- tweet: string (nullable = true)
 |-- label: string (nullable = false)

root
 |-- tweet: string (nullable = true)
 |-- label: string (nullable = false)

root
 |-- tweet: string (nullable = true)
 |-- label: string (nullable = false)

35988
4404
4506

### Data 6

In [ ]:
trainDataset5 = pd.read_csv("/content/data/fake_or_real_news.csv")

In [ ]:
trainDataset5 = spark.createDataFrame(trainDataset5, schema="id long, title string, tweet string, label string").select(["tweet", "label"])

In [ ]:
udf = f.udf(lambda x: 'fake' if x=="FAKE" else 'real')

In [ ]:
trainDataset5, valDataset5, testDataset5 = (
    trainDataset5
    .withColumn('label', udf(f.col('label')))
    .randomSplit([.8, .1, .1],seed=1234)
)

In [ ]:
trainDataset5.printSchema()
valDataset5.printSchema()
testDataset5.printSchema()
print(trainDataset5.count())
print(valDataset5.count())
print(testDataset5.count())

root
 |-- tweet: string (nullable = true)
 |-- label: string (nullable = true)

root
 |-- tweet: string (nullable = true)
 |-- label: string (nullable = true)

root
 |-- tweet: string (nullable = true)
 |-- label: string (nullable = true)

5109
605
621

### Merge Data

In [ ]:
trainDataset = (
    trainDataset
    .union(trainDataset1)
    .union(trainDataset2)
    # .union(trainDataset3)
    # .union(trainDataset4)
    # .union(trainDataset5)
)

valDataset = (
    valDataset
    .union(valDataset1)
    .union(valDataset2)
    # .union(valDataset3)
    # .union(valDataset4)
    # .union(valDataset5)
)

testDataset = (
    testDataset
    .union(testDataset1)
    .union(testDataset2)
    # .union(testDataset3)
    # .union(testDataset4)
    # .union(testDataset5)
)

In [ ]:
trainDataset.printSchema()
valDataset.printSchema()
testDataset.printSchema()
print(trainDataset.count())
print(valDataset.count())
print(testDataset.count())

root
 |-- tweet: string (nullable = true)
 |-- label: string (nullable = true)

root
 |-- tweet: string (nullable = true)
 |-- label: string (nullable = true)

root
 |-- tweet: string (nullable = true)
 |-- label: string (nullable = true)

15933
3438
4448

In [ ]:
# #duc
# udf = f.udf(lambda x: len(x.split()), IntegerType())
# (
#     trainDataset
#     .withColumn('length of char', f.length('tweet'))
#     .withColumn('length of word', udf(f.col('tweet')))
#     .orderBy(f.col('length of char').desc(), f.col('length of word').desc())
#     .select(f.mean(f.col("length of word")), f.max(f.col("length of word")), f.min(f.col("length of word"))).show()
# )

In [ ]:
# #duc
# udf = f.udf(lambda x: len(x.split()), IntegerType())
# (
#     trainDataset
#     .withColumn('length of char', f.length('tweet'))
#     .withColumn('length of word', udf(f.col('tweet')))
#     .orderBy(f.col('length of char').desc(), f.col('length of word').desc())
#     .select((f.col("length of word")), f.max(f.col("length of word")), f.min(f.col("length of word"))).show()
# )

In [ ]:
udf = f.udf(lambda x: len(x.split()), IntegerType())
(
    trainDataset
    .withColumn('length of char', f.length('tweet'))
    .withColumn('length of word', udf(f.col('tweet')))
    .orderBy(f.col('length of char').desc(), f.col('length of word').desc())
    .toPandas()
    .head(5)
)

                                               tweet  ... length of word
0  This report discusses selected actions taken b...  ...           4874
1  I have been watching the continuing hysteria t...  ...           5101
2  The temperature topped 100 degrees F (38 degre...  ...           5469
3  Story by Celia Farber with research contributi...  ...           4389
4  Just yesterday we predicted that it is only a ...  ...           4082

[5 rows x 4 columns]

In [ ]:
(
    trainDataset
    .withColumn('length of word', udf(f.col('tweet')))
    .withColumn('length of char', f.length('tweet'))
    .orderBy(f.col('length of word').desc(), f.col('length of char').desc())
    .toPandas()
    .head(5)
)

                                               tweet  ... length of char
0  The temperature topped 100 degrees F (38 degre...  ...          32165
1  I have been watching the continuing hysteria t...  ...          32564
2  This report discusses selected actions taken b...  ...          32767
3  Story by Celia Farber with research contributi...  ...          26296
4  Just yesterday we predicted that it is only a ...  ...          24665

[5 rows x 4 columns]

In [ ]:
(
    valDataset
    .withColumn('length of char', f.length('tweet'))
    .withColumn('length of word', udf(f.col('tweet')))
    .orderBy(f.col('length of char').desc(), f.col('length of word').desc())
    .toPandas()
    .head(5)
)

                                               tweet  ... length of word
0  Coronavirus 2019-nCoV, able to enter and infec...  ...           4970
1  LatinFinance is making some of its most import...  ...           4655
2  And sure enough, less than 24 hours later, in ...  ...           4045
3  First Covid-19 hotspot in Delhi declared non-c...  ...           3352
4  CMAAO Update 8 th February on Corona 2019 nCoV...  ...           2865

[5 rows x 4 columns]

In [ ]:
(
    valDataset
    .withColumn('length of char', f.length('tweet'))
    .withColumn('length of word', udf(f.col('tweet')))
    .orderBy(f.col('length of word').desc(), f.col('length of char').desc())
    .toPandas()
    .head(5)
)

                                               tweet  ... length of word
0  Coronavirus 2019-nCoV, able to enter and infec...  ...           4970
1  LatinFinance is making some of its most import...  ...           4655
2  And sure enough, less than 24 hours later, in ...  ...           4045
3  First Covid-19 hotspot in Delhi declared non-c...  ...           3352
4  CMAAO Update 8 th February on Corona 2019 nCoV...  ...           2865

[5 rows x 4 columns]

In [ ]:
(
    testDataset
    .withColumn('length of char', f.length('tweet'))
    .withColumn('length of word', udf(f.col('tweet')))
    .orderBy(f.col('length of char').desc(), f.col('length of word').desc())
    .toPandas()
    .head(5)
)

                                               tweet  ... length of word
0  Another publication suggests that this coronav...  ...           5241
1  Management of adult cardiac arrest in the COVI...  ...           3474
2  1. Mr Speaker, Members. Many members of this h...  ...           3697
3  Kerala government declares coronavirus as a st...  ...           2958
4  In the wake of Ebola, NVD-68, and Zika, we sho...  ...           3087

[5 rows x 4 columns]

In [ ]:
(
   testDataset
    .withColumn('length of char', f.length('tweet'))
    .withColumn('length of word', udf(f.col('tweet')))
    .orderBy(f.col('length of word').desc(), f.col('length of char').desc())
    .toPandas()
    .head(5)
)

                                               tweet  ... length of word
0  Another publication suggests that this coronav...  ...           5241
1  1. Mr Speaker, Members. Many members of this h...  ...           3697
2  Management of adult cardiac arrest in the COVI...  ...           3474
3  In the wake of Ebola, NVD-68, and Zika, we sho...  ...           3087
4  Kerala government declares coronavirus as a st...  ...           2958

[5 rows x 4 columns]

## Step 4

In [ ]:
trainDataset = (
    trainDataset
    .withColumn("tweet", f.regexp_replace(f.col("tweet"), "[^a-zA-Z]", " "))
    .withColumn("tweet", f.regexp_replace(f.col("tweet"), " +", " "))
    .withColumn("tweet", f.trim(f.col("tweet")))
    .filter("tweet != ''")
)

valDataset = (
    valDataset
    .withColumn("tweet", f.regexp_replace(f.col("tweet"), "[^a-zA-Z]", " "))
    .withColumn("tweet", f.regexp_replace(f.col("tweet"), " +", " "))
    .withColumn("tweet", f.trim(f.col("tweet")))
    .filter("tweet != ''")
)

testDataset = (
    testDataset
    .withColumn("tweet", f.regexp_replace(f.col("tweet"), "[^a-zA-Z]", " "))
    .withColumn("tweet", f.regexp_replace(f.col("tweet"), " +", " "))
    .withColumn("tweet", f.trim(f.col("tweet")))
    .filter("tweet != ''")
)

In [ ]:
batch_size = 64
epochs = 500
lr = 5e-3
dropout = 0.5

## Step 5

In [ ]:
%%time
tokenizer = Tokenizer(inputCol="tweet", outputCol="words1")
stopwords_remover = StopWordsRemover(
    inputCol="words1",
    outputCol="words3",
    stopWords=StopWordsRemover.loadDefaultStopWords("english")
)
hashing_tf = HashingTF(
    inputCol="words3",
    outputCol="term_frequency",
)

vectorizer = CountVectorizer(
    inputCol='words3',
    outputCol='term_frequency'
)

idf = IDF(
    inputCol="term_frequency",
    outputCol="features",
    minDocFreq=5
)

indexer = StringIndexer(inputCol="label", outputCol="labelIndex")

lr = LogisticRegression(labelCol="labelIndex")

semantic_analysis_pipeline = Pipeline(
    stages=[tokenizer, stopwords_remover, vectorizer, idf, indexer, lr]
)

CPU times: user 39.8 ms, sys: 7.83 ms, total: 47.7 ms
Wall time: 342 ms

In [ ]:
%%time
pipelineModel = semantic_analysis_pipeline.fit(trainDataset)

CPU times: user 424 ms, sys: 58.4 ms, total: 482 ms
Wall time: 59.9 s

In [ ]:
print(pipelineModel.stages[4].labels)

label_to_stringIdx = IndexToString(
    inputCol="prediction", 
    outputCol="text_prediction",
    labels=pipelineModel.stages[4].labels
)

['real', 'fake']

## Step 6

In [ ]:
def Validation(model, dataset):
  DF = model.transform(dataset)
  DF = DF.select(
    'labelIndex',
    # f.col('document.result').alias('document'),
    'prediction'
  )
  DF.show(5)

  # udf = f.udf(lambda x: float(x[0]), DoubleType())

  # DF = DF.withColumn('prediction', udf(f.col('prediction')))

  evaluator = MulticlassClassificationEvaluator(labelCol='labelIndex', metricName='accuracy')
  accuracy = evaluator.evaluate(DF)
  print(accuracy)

In [ ]:
%%time
Validation(pipelineModel, trainDataset)

+----------+----------+
|labelIndex|prediction|
+----------+----------+
|       0.0|       0.0|
|       0.0|       0.0|
|       1.0|       1.0|
|       0.0|       0.0|
|       0.0|       0.0|
+----------+----------+
only showing top 5 rows

0.9963597564802611
CPU times: user 105 ms, sys: 14.2 ms, total: 119 ms
Wall time: 7.55 s

In [ ]:
%%time
Validation(pipelineModel, valDataset)

+----------+----------+
|labelIndex|prediction|
+----------+----------+
|       1.0|       1.0|
|       1.0|       0.0|
|       1.0|       1.0|
|       1.0|       1.0|
|       0.0|       0.0|
+----------+----------+
only showing top 5 rows

0.7923211169284468
CPU times: user 81.1 ms, sys: 12.8 ms, total: 93.9 ms
Wall time: 2.31 s

In [ ]:
%%time
Validation(pipelineModel, testDataset)

+----------+----------+
|labelIndex|prediction|
+----------+----------+
|       0.0|       0.0|
|       1.0|       1.0|
|       1.0|       1.0|
|       0.0|       0.0|
|       0.0|       0.0|
+----------+----------+
only showing top 5 rows

0.7535971223021583
CPU times: user 79.5 ms, sys: 6.96 ms, total: 86.5 ms
Wall time: 2.14 s

## Step 7

In [ ]:
testDF = pipelineModel.transform(testDataset)
testDF.show(5)

+---+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+----------+
| id|               tweet|              words1|              words3|      term_frequency|            features|       rawPrediction|         probability|prediction|
+---+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+----------+
|  1|Our daily update ...|[our, daily, upda...|[daily, update, p...|(262144,[2564,154...|(262144,[2564,154...|[216.765438342817...|           [1.0,0.0]|       0.0|
|  2|Alfalfa is the on...|[alfalfa, is, the...|[alfalfa, cure, c...|(262144,[11395,70...|(262144,[11395,70...|[-92.086336032358...|[1.01721417258140...|       1.0|
|  3|President Trump A...|[president, trump...|[president, trump...|(262144,[15423,24...|(262144,[15423,24...|[-311.17381812750...|[7.22649779429957...|       1.0|
|  4|States reported d...|[states, reported...|[states, reported...|(262144,[2564,114...|(262144,[2564,114...|[299.420104164998...|           [1.0,0.0]|       0.0|
|  5|This is the sixth...|[this, is, the, s...|[sixth, time, glo...|(262144,[15263,15...|(262144,[15263,15...|[124.663444978592...|           [1.0,0.0]|       0.0|
+---+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+----------+
only showing top 5 rows

In [ ]:
udf = f.udf(lambda x: float(x[0]), DoubleType())
testDF = testDF.withColumn('prediction', udf(f.col('prediction')))
testDF = label_to_stringIdx.transform(testDF)
testDF.select('id', 'tweet', 'text_prediction').show(5, truncate=False)

+---+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+---------------+
|id |tweet                                                                                                                                                                                                                                                                   |text_prediction|
+---+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+---------------+
|1  |Our daily update is published. States reported 734k tests 39k new cases and 532 deaths. Current hospitalizations fell below 30k for the first time since June 22. https://t.co/wzSYMe0Sht                                                                               |real           |
|2  |Alfalfa is the only cure for COVID-19.                                                                                                                                                                                                                                  |fake           |
|3  |President Trump Asked What He Would Do If He Were To Catch The Coronavirus https://t.co/3MEWhusRZI #donaldtrump #coronavirus                                                                                                                                            |fake           |
|4  |States reported 630 deaths. We are still seeing a solid national decline. Death reporting lags approximately 28 days from symptom onset according to CDC models that consider lags in symptoms time in hospital and the death reporting process. https://t.co/LBmcot3h9a|real           |
|5  |This is the sixth time a global health emergency has been declared under the International Health Regulations but it is easily the most severe-@DrTedros https://t.co/JvKC0PTett                                                                                        |real           |
+---+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+---------------+
only showing top 5 rows

## Step 8

### Save model

In [ ]:
pipelineModel.write().overwrite().save('FakeNewsCovidML')

In [ ]:
!cp -av '/content/FakeNewsCovidML' '/content/gdrive/MyDrive/Colab Notebooks/BigData/models/'

'/content/FakeNewsCovidML' -> '/content/gdrive/MyDrive/Colab Notebooks/BigData/models/FakeNewsCovidML'
'/content/FakeNewsCovidML/metadata' -> '/content/gdrive/MyDrive/Colab Notebooks/BigData/models/FakeNewsCovidML/metadata'
'/content/FakeNewsCovidML/metadata/_SUCCESS' -> '/content/gdrive/MyDrive/Colab Notebooks/BigData/models/FakeNewsCovidML/metadata/_SUCCESS'
'/content/FakeNewsCovidML/metadata/._SUCCESS.crc' -> '/content/gdrive/MyDrive/Colab Notebooks/BigData/models/FakeNewsCovidML/metadata/._SUCCESS.crc'
'/content/FakeNewsCovidML/metadata/part-00000' -> '/content/gdrive/MyDrive/Colab Notebooks/BigData/models/FakeNewsCovidML/metadata/part-00000'
'/content/FakeNewsCovidML/metadata/.part-00000.crc' -> '/content/gdrive/MyDrive/Colab Notebooks/BigData/models/FakeNewsCovidML/metadata/.part-00000.crc'
'/content/FakeNewsCovidML/stages' -> '/content/gdrive/MyDrive/Colab Notebooks/BigData/models/FakeNewsCovidML/stages'
'/content/FakeNewsCovidML/stages/4_StringIndexer_248dcdc255ea' -> '/content/gdrive/MyDrive/Colab Notebooks/BigData/models/FakeNewsCovidML/stages/4_StringIndexer_248dcdc255ea'
'/content/FakeNewsCovidML/stages/4_StringIndexer_248dcdc255ea/metadata' -> '/content/gdrive/MyDrive/Colab Notebooks/BigData/models/FakeNewsCovidML/stages/4_StringIndexer_248dcdc255ea/metadata'
'/content/FakeNewsCovidML/stages/4_StringIndexer_248dcdc255ea/metadata/_SUCCESS' -> '/content/gdrive/MyDrive/Colab Notebooks/BigData/models/FakeNewsCovidML/stages/4_StringIndexer_248dcdc255ea/metadata/_SUCCESS'
'/content/FakeNewsCovidML/stages/4_StringIndexer_248dcdc255ea/metadata/._SUCCESS.crc' -> '/content/gdrive/MyDrive/Colab Notebooks/BigData/models/FakeNewsCovidML/stages/4_StringIndexer_248dcdc255ea/metadata/._SUCCESS.crc'
'/content/FakeNewsCovidML/stages/4_StringIndexer_248dcdc255ea/metadata/part-00000' -> '/content/gdrive/MyDrive/Colab Notebooks/BigData/models/FakeNewsCovidML/stages/4_StringIndexer_248dcdc255ea/metadata/part-00000'
'/content/FakeNewsCovidML/stages/4_StringIndexer_248dcdc255ea/metadata/.part-00000.crc' -> '/content/gdrive/MyDrive/Colab Notebooks/BigData/models/FakeNewsCovidML/stages/4_StringIndexer_248dcdc255ea/metadata/.part-00000.crc'
'/content/FakeNewsCovidML/stages/4_StringIndexer_248dcdc255ea/data' -> '/content/gdrive/MyDrive/Colab Notebooks/BigData/models/FakeNewsCovidML/stages/4_StringIndexer_248dcdc255ea/data'
'/content/FakeNewsCovidML/stages/4_StringIndexer_248dcdc255ea/data/_SUCCESS' -> '/content/gdrive/MyDrive/Colab Notebooks/BigData/models/FakeNewsCovidML/stages/4_StringIndexer_248dcdc255ea/data/_SUCCESS'
'/content/FakeNewsCovidML/stages/4_StringIndexer_248dcdc255ea/data/._SUCCESS.crc' -> '/content/gdrive/MyDrive/Colab Notebooks/BigData/models/FakeNewsCovidML/stages/4_StringIndexer_248dcdc255ea/data/._SUCCESS.crc'
'/content/FakeNewsCovidML/stages/4_StringIndexer_248dcdc255ea/data/part-00000-839b6a4a-8d5a-4dd2-aeba-63e81ba9522d-c000.snappy.parquet' -> '/content/gdrive/MyDrive/Colab Notebooks/BigData/models/FakeNewsCovidML/stages/4_StringIndexer_248dcdc255ea/data/part-00000-839b6a4a-8d5a-4dd2-aeba-63e81ba9522d-c000.snappy.parquet'
'/content/FakeNewsCovidML/stages/4_StringIndexer_248dcdc255ea/data/.part-00000-839b6a4a-8d5a-4dd2-aeba-63e81ba9522d-c000.snappy.parquet.crc' -> '/content/gdrive/MyDrive/Colab Notebooks/BigData/models/FakeNewsCovidML/stages/4_StringIndexer_248dcdc255ea/data/.part-00000-839b6a4a-8d5a-4dd2-aeba-63e81ba9522d-c000.snappy.parquet.crc'
'/content/FakeNewsCovidML/stages/5_LogisticRegression_7cdc99a68390' -> '/content/gdrive/MyDrive/Colab Notebooks/BigData/models/FakeNewsCovidML/stages/5_LogisticRegression_7cdc99a68390'
'/content/FakeNewsCovidML/stages/5_LogisticRegression_7cdc99a68390/metadata' -> '/content/gdrive/MyDrive/Colab Notebooks/BigData/models/FakeNewsCovidML/stages/5_LogisticRegression_7cdc99a68390/metadata'
'/content/FakeNewsCovidML/stages/5_LogisticRegression_7cdc99a68390/metadata/_SUCCESS' -> '/content/gdrive/MyDrive/Colab Notebooks/BigData/models/FakeNewsCovidML/stages/5_LogisticRegression_7cdc99a68390/metadata/_SUCCESS'
'/content/FakeNewsCovidML/stages/5_LogisticRegression_7cdc99a68390/metadata/._SUCCESS.crc' -> '/content/gdrive/MyDrive/Colab Notebooks/BigData/models/FakeNewsCovidML/stages/5_LogisticRegression_7cdc99a68390/metadata/._SUCCESS.crc'
'/content/FakeNewsCovidML/stages/5_LogisticRegression_7cdc99a68390/metadata/part-00000' -> '/content/gdrive/MyDrive/Colab Notebooks/BigData/models/FakeNewsCovidML/stages/5_LogisticRegression_7cdc99a68390/metadata/part-00000'
'/content/FakeNewsCovidML/stages/5_LogisticRegression_7cdc99a68390/metadata/.part-00000.crc' -> '/content/gdrive/MyDrive/Colab Notebooks/BigData/models/FakeNewsCovidML/stages/5_LogisticRegression_7cdc99a68390/metadata/.part-00000.crc'
'/content/FakeNewsCovidML/stages/5_LogisticRegression_7cdc99a68390/data' -> '/content/gdrive/MyDrive/Colab Notebooks/BigData/models/FakeNewsCovidML/stages/5_LogisticRegression_7cdc99a68390/data'
'/content/FakeNewsCovidML/stages/5_LogisticRegression_7cdc99a68390/data/_SUCCESS' -> '/content/gdrive/MyDrive/Colab Notebooks/BigData/models/FakeNewsCovidML/stages/5_LogisticRegression_7cdc99a68390/data/_SUCCESS'
'/content/FakeNewsCovidML/stages/5_LogisticRegression_7cdc99a68390/data/._SUCCESS.crc' -> '/content/gdrive/MyDrive/Colab Notebooks/BigData/models/FakeNewsCovidML/stages/5_LogisticRegression_7cdc99a68390/data/._SUCCESS.crc'
'/content/FakeNewsCovidML/stages/5_LogisticRegression_7cdc99a68390/data/part-00000-9b27ba0a-036b-4af3-9ba5-1dc489ddc511-c000.snappy.parquet' -> '/content/gdrive/MyDrive/Colab Notebooks/BigData/models/FakeNewsCovidML/stages/5_LogisticRegression_7cdc99a68390/data/part-00000-9b27ba0a-036b-4af3-9ba5-1dc489ddc511-c000.snappy.parquet'
'/content/FakeNewsCovidML/stages/5_LogisticRegression_7cdc99a68390/data/.part-00000-9b27ba0a-036b-4af3-9ba5-1dc489ddc511-c000.snappy.parquet.crc' -> '/content/gdrive/MyDrive/Colab Notebooks/BigData/models/FakeNewsCovidML/stages/5_LogisticRegression_7cdc99a68390/data/.part-00000-9b27ba0a-036b-4af3-9ba5-1dc489ddc511-c000.snappy.parquet.crc'
'/content/FakeNewsCovidML/stages/0_Tokenizer_bc9c34cb9a36' -> '/content/gdrive/MyDrive/Colab Notebooks/BigData/models/FakeNewsCovidML/stages/0_Tokenizer_bc9c34cb9a36'
'/content/FakeNewsCovidML/stages/0_Tokenizer_bc9c34cb9a36/metadata' -> '/content/gdrive/MyDrive/Colab Notebooks/BigData/models/FakeNewsCovidML/stages/0_Tokenizer_bc9c34cb9a36/metadata'
'/content/FakeNewsCovidML/stages/0_Tokenizer_bc9c34cb9a36/metadata/_SUCCESS' -> '/content/gdrive/MyDrive/Colab Notebooks/BigData/models/FakeNewsCovidML/stages/0_Tokenizer_bc9c34cb9a36/metadata/_SUCCESS'
'/content/FakeNewsCovidML/stages/0_Tokenizer_bc9c34cb9a36/metadata/._SUCCESS.crc' -> '/content/gdrive/MyDrive/Colab Notebooks/BigData/models/FakeNewsCovidML/stages/0_Tokenizer_bc9c34cb9a36/metadata/._SUCCESS.crc'
'/content/FakeNewsCovidML/stages/0_Tokenizer_bc9c34cb9a36/metadata/part-00000' -> '/content/gdrive/MyDrive/Colab Notebooks/BigData/models/FakeNewsCovidML/stages/0_Tokenizer_bc9c34cb9a36/metadata/part-00000'
'/content/FakeNewsCovidML/stages/0_Tokenizer_bc9c34cb9a36/metadata/.part-00000.crc' -> '/content/gdrive/MyDrive/Colab Notebooks/BigData/models/FakeNewsCovidML/stages/0_Tokenizer_bc9c34cb9a36/metadata/.part-00000.crc'
'/content/FakeNewsCovidML/stages/1_StopWordsRemover_12dc914565c2' -> '/content/gdrive/MyDrive/Colab Notebooks/BigData/models/FakeNewsCovidML/stages/1_StopWordsRemover_12dc914565c2'
'/content/FakeNewsCovidML/stages/1_StopWordsRemover_12dc914565c2/metadata' -> '/content/gdrive/MyDrive/Colab Notebooks/BigData/models/FakeNewsCovidML/stages/1_StopWordsRemover_12dc914565c2/metadata'
'/content/FakeNewsCovidML/stages/1_StopWordsRemover_12dc914565c2/metadata/_SUCCESS' -> '/content/gdrive/MyDrive/Colab Notebooks/BigData/models/FakeNewsCovidML/stages/1_StopWordsRemover_12dc914565c2/metadata/_SUCCESS'
'/content/FakeNewsCovidML/stages/1_StopWordsRemover_12dc914565c2/metadata/._SUCCESS.crc' -> '/content/gdrive/MyDrive/Colab Notebooks/BigData/models/FakeNewsCovidML/stages/1_StopWordsRemover_12dc914565c2/metadata/._SUCCESS.crc'
'/content/FakeNewsCovidML/stages/1_StopWordsRemover_12dc914565c2/metadata/part-00000' -> '/content/gdrive/MyDrive/Colab Notebooks/BigData/models/FakeNewsCovidML/stages/1_StopWordsRemover_12dc914565c2/metadata/part-00000'
'/content/FakeNewsCovidML/stages/1_StopWordsRemover_12dc914565c2/metadata/.part-00000.crc' -> '/content/gdrive/MyDrive/Colab Notebooks/BigData/models/FakeNewsCovidML/stages/1_StopWordsRemover_12dc914565c2/metadata/.part-00000.crc'
'/content/FakeNewsCovidML/stages/2_CountVectorizer_1b6f2a152b31' -> '/content/gdrive/MyDrive/Colab Notebooks/BigData/models/FakeNewsCovidML/stages/2_CountVectorizer_1b6f2a152b31'
'/content/FakeNewsCovidML/stages/2_CountVectorizer_1b6f2a152b31/metadata' -> '/content/gdrive/MyDrive/Colab Notebooks/BigData/models/FakeNewsCovidML/stages/2_CountVectorizer_1b6f2a152b31/metadata'
'/content/FakeNewsCovidML/stages/2_CountVectorizer_1b6f2a152b31/metadata/_SUCCESS' -> '/content/gdrive/MyDrive/Colab Notebooks/BigData/models/FakeNewsCovidML/stages/2_CountVectorizer_1b6f2a152b31/metadata/_SUCCESS'
'/content/FakeNewsCovidML/stages/2_CountVectorizer_1b6f2a152b31/metadata/._SUCCESS.crc' -> '/content/gdrive/MyDrive/Colab Notebooks/BigData/models/FakeNewsCovidML/stages/2_CountVectorizer_1b6f2a152b31/metadata/._SUCCESS.crc'
'/content/FakeNewsCovidML/stages/2_CountVectorizer_1b6f2a152b31/metadata/part-00000' -> '/content/gdrive/MyDrive/Colab Notebooks/BigData/models/FakeNewsCovidML/stages/2_CountVectorizer_1b6f2a152b31/metadata/part-00000'
'/content/FakeNewsCovidML/stages/2_CountVectorizer_1b6f2a152b31/metadata/.part-00000.crc' -> '/content/gdrive/MyDrive/Colab Notebooks/BigData/models/FakeNewsCovidML/stages/2_CountVectorizer_1b6f2a152b31/metadata/.part-00000.crc'
'/content/FakeNewsCovidML/stages/2_CountVectorizer_1b6f2a152b31/data' -> '/content/gdrive/MyDrive/Colab Notebooks/BigData/models/FakeNewsCovidML/stages/2_CountVectorizer_1b6f2a152b31/data'
'/content/FakeNewsCovidML/stages/2_CountVectorizer_1b6f2a152b31/data/_SUCCESS' -> '/content/gdrive/MyDrive/Colab Notebooks/BigData/models/FakeNewsCovidML/stages/2_CountVectorizer_1b6f2a152b31/data/_SUCCESS'
'/content/FakeNewsCovidML/stages/2_CountVectorizer_1b6f2a152b31/data/._SUCCESS.crc' -> '/content/gdrive/MyDrive/Colab Notebooks/BigData/models/FakeNewsCovidML/stages/2_CountVectorizer_1b6f2a152b31/data/._SUCCESS.crc'
'/content/FakeNewsCovidML/stages/2_CountVectorizer_1b6f2a152b31/data/part-00000-044ff20d-2244-4c52-9947-282473e0c365-c000.snappy.parquet' -> '/content/gdrive/MyDrive/Colab Notebooks/BigData/models/FakeNewsCovidML/stages/2_CountVectorizer_1b6f2a152b31/data/part-00000-044ff20d-2244-4c52-9947-282473e0c365-c000.snappy.parquet'
'/content/FakeNewsCovidML/stages/2_CountVectorizer_1b6f2a152b31/data/.part-00000-044ff20d-2244-4c52-9947-282473e0c365-c000.snappy.parquet.crc' -> '/content/gdrive/MyDrive/Colab Notebooks/BigData/models/FakeNewsCovidML/stages/2_CountVectorizer_1b6f2a152b31/data/.part-00000-044ff20d-2244-4c52-9947-282473e0c365-c000.snappy.parquet.crc'
'/content/FakeNewsCovidML/stages/3_IDF_5b34ab4f4415' -> '/content/gdrive/MyDrive/Colab Notebooks/BigData/models/FakeNewsCovidML/stages/3_IDF_5b34ab4f4415'
'/content/FakeNewsCovidML/stages/3_IDF_5b34ab4f4415/metadata' -> '/content/gdrive/MyDrive/Colab Notebooks/BigData/models/FakeNewsCovidML/stages/3_IDF_5b34ab4f4415/metadata'
'/content/FakeNewsCovidML/stages/3_IDF_5b34ab4f4415/metadata/_SUCCESS' -> '/content/gdrive/MyDrive/Colab Notebooks/BigData/models/FakeNewsCovidML/stages/3_IDF_5b34ab4f4415/metadata/_SUCCESS'
'/content/FakeNewsCovidML/stages/3_IDF_5b34ab4f4415/metadata/._SUCCESS.crc' -> '/content/gdrive/MyDrive/Colab Notebooks/BigData/models/FakeNewsCovidML/stages/3_IDF_5b34ab4f4415/metadata/._SUCCESS.crc'
'/content/FakeNewsCovidML/stages/3_IDF_5b34ab4f4415/metadata/part-00000' -> '/content/gdrive/MyDrive/Colab Notebooks/BigData/models/FakeNewsCovidML/stages/3_IDF_5b34ab4f4415/metadata/part-00000'
'/content/FakeNewsCovidML/stages/3_IDF_5b34ab4f4415/metadata/.part-00000.crc' -> '/content/gdrive/MyDrive/Colab Notebooks/BigData/models/FakeNewsCovidML/stages/3_IDF_5b34ab4f4415/metadata/.part-00000.crc'
'/content/FakeNewsCovidML/stages/3_IDF_5b34ab4f4415/data' -> '/content/gdrive/MyDrive/Colab Notebooks/BigData/models/FakeNewsCovidML/stages/3_IDF_5b34ab4f4415/data'
'/content/FakeNewsCovidML/stages/3_IDF_5b34ab4f4415/data/_SUCCESS' -> '/content/gdrive/MyDrive/Colab Notebooks/BigData/models/FakeNewsCovidML/stages/3_IDF_5b34ab4f4415/data/_SUCCESS'
'/content/FakeNewsCovidML/stages/3_IDF_5b34ab4f4415/data/._SUCCESS.crc' -> '/content/gdrive/MyDrive/Colab Notebooks/BigData/models/FakeNewsCovidML/stages/3_IDF_5b34ab4f4415/data/._SUCCESS.crc'
'/content/FakeNewsCovidML/stages/3_IDF_5b34ab4f4415/data/part-00000-62d70678-8821-4833-884f-526ecd09e4d5-c000.snappy.parquet' -> '/content/gdrive/MyDrive/Colab Notebooks/BigData/models/FakeNewsCovidML/stages/3_IDF_5b34ab4f4415/data/part-00000-62d70678-8821-4833-884f-526ecd09e4d5-c000.snappy.parquet'
'/content/FakeNewsCovidML/stages/3_IDF_5b34ab4f4415/data/.part-00000-62d70678-8821-4833-884f-526ecd09e4d5-c000.snappy.parquet.crc' -> '/content/gdrive/MyDrive/Colab Notebooks/BigData/models/FakeNewsCovidML/stages/3_IDF_5b34ab4f4415/data/.part-00000-62d70678-8821-4833-884f-526ecd09e4d5-c000.snappy.parquet.crc'

In [ ]:
!rm -rf '/content/FakeNewsCovidML'

### Load model

In [ ]:
!cp -av '/content/gdrive/MyDrive/Colab Notebooks/BigData/models/FakeNewsCovidML' '/content/models'

In [ ]:
# from pyspark.ml.pipeline import PipelineModel
# model = PipelineModel.read().load('/content/gdrive/MyDrive/Colab Notebooks/BigData/models/SparkFakeNewsCovid')
model = PipelineModel.read().load('/content/models')

In [ ]:
%%time
Validation(model, trainDataset)

+----------+----------+
|labelIndex|prediction|
+----------+----------+
|       0.0|       0.0|
|       0.0|       0.0|
|       1.0|       1.0|
|       0.0|       0.0|
|       0.0|       0.0|
+----------+----------+
only showing top 5 rows

0.9963597564802611
CPU times: user 98.5 ms, sys: 11.6 ms, total: 110 ms
Wall time: 6.35 s

In [ ]:
%%time
Validation(model, valDataset)

+----------+----------+
|labelIndex|prediction|
+----------+----------+
|       1.0|       1.0|
|       1.0|       0.0|
|       1.0|       1.0|
|       1.0|       1.0|
|       0.0|       0.0|
+----------+----------+
only showing top 5 rows

0.7923211169284468
CPU times: user 77.2 ms, sys: 12.9 ms, total: 90.1 ms
Wall time: 2.28 s

In [ ]:
%%time
Validation(model, testDataset)

+----------+----------+
|labelIndex|prediction|
+----------+----------+
|       0.0|       0.0|
|       1.0|       1.0|
|       1.0|       1.0|
|       0.0|       0.0|
|       0.0|       0.0|
+----------+----------+
only showing top 5 rows

0.7535971223021583
CPU times: user 86.5 ms, sys: 12.8 ms, total: 99.3 ms
Wall time: 2.37 s

In [ ]:
print(model.stages[4].labels)

label_to_stringIdx = IndexToString(
    inputCol="prediction", 
    outputCol="text_prediction",
    labels=model.stages[4].labels
)

['real', 'fake']

In [ ]:
data = [('Protect yourself and others from COVID when using public transport by practicing social distancing, avoiding touching surfaces, and practicing hand hygiene',),]
df = spark.createDataFrame(data=data, schema='tweet string')
df.show(truncate=False)

+-----------------------------------------------------------------------------------------------------------------------------------------------------------+
|tweet                                                                                                                                                      |
+-----------------------------------------------------------------------------------------------------------------------------------------------------------+
|Protect yourself and others from COVID when using public transport by practicing social distancing, avoiding touching surfaces, and practicing hand hygiene|
+-----------------------------------------------------------------------------------------------------------------------------------------------------------+

In [ ]:
label_to_stringIdx.transform(model.transform(df)).show()

+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+----------+---------------+
|               tweet|              words1|              words3|      term_frequency|            features|       rawPrediction|         probability|prediction|text_prediction|
+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+----------+---------------+
|Protect yourself ...|[protect, yoursel...|[protect, others,...|(47645,[2,30,179,...|(47645,[2,30,179,...|[3.95681143238724...|[0.98123486894809...|       0.0|           real|
+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+----------+---------------+

In [ ]:
data = [('Covid is good',),]
df = spark.createDataFrame(data=data, schema='tweet string')
df.show(truncate=False)

+-------------+
|tweet        |
+-------------+
|Covid is good|
+-------------+

In [ ]:
label_to_stringIdx.transform(model.transform(df)).show()

+-------------+-----------------+-------------+--------------------+--------------------+--------------------+--------------------+----------+---------------+
|        tweet|           words1|       words3|      term_frequency|            features|       rawPrediction|         probability|prediction|text_prediction|
+-------------+-----------------+-------------+--------------------+--------------------+--------------------+--------------------+----------+---------------+
|Covid is good|[covid, is, good]|[covid, good]|(47645,[2,178],[1...|(47645,[2,178],[0...|[-3.4789180444161...|[0.02991806540722...|       1.0|           fake|
+-------------+-----------------+-------------+--------------------+--------------------+--------------------+--------------------+----------+---------------+

In [ ]:
data = [('Covid is good and bad',),]
df = spark.createDataFrame(data=data, schema='tweet string')
df.show(truncate=False)

+---------------------+
|tweet                |
+---------------------+
|Covid is good and bad|
+---------------------+

In [ ]:
label_to_stringIdx.transform(model.transform(df)).show()

+--------------------+--------------------+------------------+--------------------+--------------------+--------------------+--------------------+----------+---------------+
|               tweet|              words1|            words3|      term_frequency|            features|       rawPrediction|         probability|prediction|text_prediction|
+--------------------+--------------------+------------------+--------------------+--------------------+--------------------+--------------------+----------+---------------+
|Covid is good and...|[covid, is, good,...|[covid, good, bad]|(47645,[2,178,824...|(47645,[2,178,824...|[-3.9080677985655...|[0.01968402020540...|       1.0|           fake|
+--------------------+--------------------+------------------+--------------------+--------------------+--------------------+--------------------+----------+---------------+